.navbar {
    height: 100vh;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
}

.navItem {
    display: flex;
    cursor: pointer;
    padding: 12px 20px;
}

.navItemActive {
    color: #e44d95;
    font-weight: 700;
}

.navGrow {
    flex: 1;
}

.navIcon {
    font-size: 1.3em;
    margin-right: 20px;
}

.navBottomGroup {
    padding-bottom: 3px;
    border-top: 2px solid;
    width: 100%;
}
