* {
  margin: 0;
  padding: 0;
  font-family: "proxima_novaregular", sans-serif;
  box-sizing: border-box;
  overflow: hidden;
  text-decoration: none;
}

@font-face {
    font-family: 'proxima_novaregular';
    src: url('./fonts/proximanova-regular-webfont.woff2') format('woff2'),
         url('./fonts/proximanova-regular-webfont.woff') format('woff');
}

html {
    overflow-y: auto;
}
