* {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
  overflow: hidden;
}

a {
  display: inherit;
  color: inherit;
  text-decoration: inherit;
}

body {
  border-top: 4px solid #e44d95;
}

.apollo {
    display: flex;
}

.mainContentGrowContainer {
    flex: 1 1 auto;
}
